site_name: Delphis Docs
site_url: https://vikas32567.github.io/delphis-docs

theme:
  name: material
  palette: 
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - Home: index.md
  - Terms: TERMS.md
  - Privacy: PRIVACY.md

markdown_extensions:
  - toc:
      permalink: true
  - attr_list

extra_css:
  - stylesheets/extra.css